Theory Questions

 1. What is the difference between a function and a method in Python?

Function:- A block of code that performs a specific task. It can be defined independently using def.

Method:- A function that is associated with an object (defined inside a class). It is called using the object.
for example

In [1]:
# Function
def add_numbers(a,b):
  return a+b
add_numbers(2,3)

5

In [7]:
#Method
class Calculator:
  def add(self,a,b):
    return a+b
obj = Calculator()
obj.add(2,3)

5

2. Explain the concept of function arguments and parameters in Python

Parameter: Variable listed inside the function definition.

Argument: Value passed when calling the function.


Example:

In [9]:
def greet(name):  # 'name' is parameter
    print("Hello", name)
greet("Ajay")  # "Alice" is argument

Hello Ajay

3. What are the different ways to define and call a function in Python?

Normal function with def

Lambda (anonymous) function

Built-in functions


Example:

In [11]:
# Normal function
def square(x):
    return x*x
square(5)

25

In [12]:
# Lambda function
cube = lambda x: x**3
cube(3)

27

In [13]:
# Calling built-in function
print(len("Python"))

6

4. What is the purpose of the `return` statement in a Python function?

Used to send a result from a function back to the caller.

Without return, the function returns None.


Example:

In [14]:
def add(a,b):
  return a+b
add(5,8)

13

5. What are iterators in Python and how do they differ from iterables?

Iterable:- Any object that can return an iterator (list, tuple, string).

Iterator:- Object with iter() and _next() methods. It produces values one at a time.


Example:

In [15]:
num = [1,2,3,4,5,6,]  # Iterable
it = iter(num)  # Iterator
next(it)

1

In [17]:
next(it)

2

In [18]:
next(it)

3

 6. Explain the concept of generators in Python and how they are defined.

Special functions that yield values one at a time using yield.

They are memory efficient because they don’t store all values at once.


Example:

In [19]:
def countdown(n):
  while n > 0:
    yield n
    n = n-1
for i in countdown(5):
  print(i)

5
4
3
2
1

 7. What are the advantages of using generators over regular functions?

Advantage:-

Memory Efficiency:-  Uses less memory by yielding items one at a time

Lazy Evaluation :- Generates values only when needed                
Simpler Syntax:-  Easier to implement than custom iterator classes

Infinite Sequence:-  Can represent endless streams of data  

Pipeline Composition:-  Enables modular, readable data pipelines

 8. What is a lambda function in Python and when is it typically used?

Anonymous (nameless) function defined using lambda.

Used for small, one-line functions.


Example:

In [20]:
multiply = lambda x,y: x*y
multiply(6,6)

36

 9. Explain the purpose and usage of the `map()` function in Python.

Applies a function to each item in an iterable and returns a map object (iterator).


Example:

In [21]:
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, nums))
squared

[1, 4, 9, 16]

 10. What is the difference between map(), reduce(), and filter() functions in Python?

map(function, iterable):-  applies function to each element.

filter(function, iterable) :-  keeps elements where function returns True.

reduce(function, iterable) :- reduces iterable to a single value by applying the function cumulatively.

Example:

In [24]:
from functools import reduce
nums = [1, 2, 3, 4, 5]

print(list(map(lambda x: x*2, nums)))
print(list(filter(lambda x: x%2==0, nums)))
print(reduce(lambda x,y: x+y, nums))

[2, 4, 6, 8, 10]
[2, 4]
15

11. Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given  list:[47,11,42,13];

step 1. 47 + 11 = 58

step 2. 58 + 42 = 100

step 3. 100 + 13 = 113

finaly :- 113

In [27]:
from functools import reduce
nums = [47, 11, 42, 13]
result = reduce(lambda x, y: x+y, nums)
print(result)

113

Practical Questions:

 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [38]:
def sum_even_numbers(n):
    return sum(num for num in n if num % 2 == 0)

print(sum_even_numbers([1, 2, 3, 4, 5, 6]))

12

 2. Create a Python function that accepts a string and returns the reverse of that string.

In [40]:
def reverse_string(s):
  return s[::-1]
reverse_string("jaaN ")

' Naaj'

 3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [42]:
def square_list(numbers):
    return [num**2 for num in numbers]
square_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [43]:
def square_list(numbers):
    return list(map(lambda x: x**2, numbers))
square_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

 4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [52]:
def prime(n):
  if n < 2 :
    return False
  for i in range(2,int(n**0.5)+1):
    if n % i == 0:
      return False
    return True
for i in range(1,201) :
  if prime(i):
    print(i)

5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

 5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms

In [69]:
class FibonacciIterator:
    def __init__(self, max_terms):
        self.max_terms = max_terms  # Total number of terms to generate
        self.count = 0              # Counter to track number of terms generated
        self.a = 0                  # First Fibonacci number
        self.b = 1                  # Second Fibonacci number

    def __iter__(self):
        return self  # The iterator object itself

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration  # Stop when the desired number of terms is reached

        if self.count == 0:
            self.count += 1
            return self.a
        elif self.count == 1:
            self.count += 1
            return self.b

        # Calculate next Fibonacci number
        next_fib = self.a + self.b
        self.a, self.b = self.b, next_fib
        self.count += 1
        return next_fib
fib = FibonacciIterator(10)  # Generate 10 terms of Fibonacci

for num in fib:
    print(num)

0
1
1
2
3
5
8
13
21
34

 6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [70]:
def powers_of_two(n):
    for i in range(n + 1):
        yield 2**i

for val in powers_of_two(5):
    print(val)

1
2
4
8
16
32

 8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [73]:
data = [(1, 5), (3, 1), (2, 8), (4, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(3, 1), (4, 2), (1, 5), (2, 8)]

 9. Write a Python program that uses map() to convert a list of temperatures from Celsius to Fahrenheit.

In [74]:
celsius = [0, 20, 37, 100]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

 10. Create a Python program that uses filter() to remove all the vowels from a given string.

In [76]:
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return "".join(filter(lambda ch: ch not in vowels, s))

# Example
print(remove_vowels("Hello World"))

Hll Wrld

In [77]:
# Data: [Order Number, Book Title/Author, Quantity, Price per Item]
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Using map + lambda
invoice_totals = list(
    map(lambda x: (x[0], x[2] * x[3] if x[2] * x[3] >= 100 else x[2] * x[3] + 10), orders)
)

print(invoice_totals)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]