DATA TYPE AND STRUCTURES QUESTIONS

1. What are data structures, and why are they important?





-> Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.

Examples:- lists, tuples, sets, dictionaries.

Importance:-

Improve efficiency of programs.

Enable handling of large data.

Provide different methods for searching, sorting, and retrieving data.

Q. 2. Explain the difference between mutable and immutable data types with examples.

Mutable:- Can be changed after creation.

Example: List ->
 a = [1,2,3];
 a[0] = 10 -> [10,2,3].

Immutable:- Cannot be changed after creation.

Example: Tuple ->
 (1,2,3) cannot be modified.

String â†’ "hello" cannot be changed character-wise.

Q. 3. What are the main differences between lists and tuples in Python ?

-> List:- Mutable , slower, written with[].

Tuples :- Immutable, faster, wrtten with().

Q. 4. Describe how dictionaries store data.

-> Dictionaries store data as keyvalue pairs.
Internally, they use a hash table.
Keys must be unique and immutable, values can be anything.

In [2]:
#  Examples
data = {"name": "Jakir Ali", "age": 18 , "address": "bhopal"}
data

{'name': 'Jakir Ali', 'age': 18, 'address': 'bhopal'}

Q. 5. Why might you use a set instead of a list in Python?

Removes duplicate values automatically.

Faster membership checking (in).

In [3]:
# Example:

set([1,2,2,3])

{1, 2, 3}

Q. 6. What is a string in Python, and how is it different from a list?

String:- Sequence of characters, immutable.

List:- Sequence of elements (any data type), mutable.

Example:

String: "hello"[0] = "h" (cannot change).

List: [1,2,3][0] = 5 (can change).

Q. 7. How do tuples ensure data integrity in Python?



Tuples :- Tuples are immutable, meaning values cannot be changed.

Prevents accidental modification of data.

Useful for fixed data like coordinates (x,y) or constants.

Q. 8. What is a hash table, and how does it relate to dictionaries in Python?



Hash table:-  Data structure that stores items using a hash function to map keys - indexes.

Relation:-  Dictionaries in Python are built on hash tables, making key lookups very fast (O(1) average time).


Q. 9. Can lists contain different data types in Python?


-> Yes, Python lists are heterogeneous.

Example:
a =  [1, "hello", 3.14, True].

In [10]:
a =  [1, "hello", 3.14, True]

a

[1, 'hello', 3.14, True]

Q. 10. Explain why strings are immutable in Python.

-> To save memory (reused by multiple variables).

To ensure data security (safe for hashing).

To avoid accidental modification of text.

PRACTICAL QUESTIONS

 Q. 1. Write a code to create a string with your name and print it.

In [11]:
name = "Jakir Ali"
print(name)

Jakir Ali

Q. 2. Write a code to find the length of the string "Hello World".

In [12]:
a = "Hello World"
len(a)

11

Q. 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [13]:
a = "Python Programming"
a[: 3]

'Pyt'

Q. 4.  Write a code to convert the string "hello" to uppercase.

In [14]:
a = "hello"
a.upper()

'HELLO'

Q. 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [19]:
s = "I like apple"
print(s.replace("apple","orange"))

I like orange

Q.6.  Write a code to create a list with numbers 1 to 5 and print it.

In [20]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

Q. 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [21]:
lis = [1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]




Q. 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [22]:
list1 = [1,2,3,4,5]
list1.remove(3)
list1

[1, 2, 4, 5]


Q. 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [23]:
l = ["a","b","c","d"]
l[1]

'b'

Q. 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [24]:
lis = [10,20,30,40,50]
lis.reverse()
lis

[50, 40, 30, 20, 10]

Q. 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [25]:
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

Q. 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [30]:
tuple1 = ("red","green","blue","yellow")
tuple1[1:]

('green', 'blue', 'yellow')

Q. 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [32]:
t = (10,20,5,15)
min(t)

5

Q. 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [33]:
t = ("dog","cat","rabbit")
t.index("cat")

1

Q. 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [35]:
 fruits_name = ("apple","banana","orange","mango")
 "kiwi" in fruits_name

False

Q. 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [36]:
s = {"a","b","c"}
print(s)

{'b', 'a', 'c'}

 Q. 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
 result.(replaced)

In [38]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

 Q. 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
 result.(replaced)

In [40]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

Q. 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
 result.(replaced)

In [42]:
s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

Q. 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
 result.(replaced)

In [43]:
s1 = {1,2,3}
s2 = {2,3,4}
s1 & s2

{2, 3}

Q. 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
 result.(replaced)

In [44]:
dict1 = {"name" : "Jakir Ali","Age" : 18, "city" : "bhopal"}
print(dict1)

{'name': 'Jakir Ali', 'Age': 18, 'city': 'bhopal'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
 result.(replaced)

In [45]:
d = {"name":"John","age":25,}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}


Q. 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [47]:
d = {"name":"Alice", "age":30}
d["name"]

'Alice'

Q. 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [55]:
d = {"name": "Bob","age":22,"city":"New York"}
d.pop("age")

22

In [56]:
d

{'name': 'Bob', 'city': 'New York'}

Q. 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [57]:
dis = {"name":"Alice","city": "Paris"}
"city" in dis

True

 Q. 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [60]:
list1 = [1,2,3,4,5]
tuple1 = (10,20,30,40,50)
dict1 = {"name":"Jakir Ali","age":18}
print(list1)
print(tuple1)
print(dict1)

[1, 2, 3, 4, 5]
(10, 20, 30, 40, 50)
{'name': 'Jakir Ali', 'age': 18}

Q. 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [62]:
list2 = [10,50,47,35,2,9,75,30,30,30,6]
list2.sort()
print(list2)

[2, 6, 9, 10, 30, 30, 30, 35, 47, 50, 75]

Q. 28. Write a code to create a list with strings and print the element at the third index.

In [63]:
lst = ["apple","banana","mango","a","b","jakir"]
lst[3]

'a'

Q. 29. Write a code to combine two dictionaries into one and print the result.

In [66]:
d1 = {"a":1,"b":2}
d2 = {"c":3,"d":4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

 30. Write a code to convert a list of strings into a set

In [67]:
list1 = ["jakir","ali","apple","banana"]
list2 =set(list1)
print(list2)

{'ali', 'apple', 'banana', 'jakir'}